<ion-header>
  <ion-navbar>
    <ion-title>
      {{nombre_usuario}}
    </ion-title>

  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="view">
      <ion-segment-button value="citas">
        Citas
      </ion-segment-button>
      <ion-segment-button value="clientes">
        Pacientes
      </ion-segment-button>
      <ion-segment-button value="usuario">
        Usuario
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <div [ngSwitch]="view">
    <ion-list *ngSwitchCase="'citas'" no-lines>
      <ion-item>
        <ion-label floating>Fecha</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="myDate" (ionChange)="dateChange(myDate)"></ion-datetime>
      </ion-item>
      <ion-item-sliding *ngFor="let lcu of mensajeService.listaCitasUsuario">
        <ion-item>
          <h2>{{ lcu.nombre_paciente }} </h2>
          <h3>{{ lcu.mensaje }}</h3>
        </ion-item>
        <ion-item-options>
          <button ion-button color="danger" (click)="checkCita(lcu)">Eliminar</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-list *ngSwitchCase="'clientes'">
      <ion-searchbar (ionInput)="filterItems($event)"></ion-searchbar>
      <!-- (click)="onUserOpen(item)"-->
      <ion-item-sliding *ngFor="let item of listaUsuario">
        <ion-item>
          <ion-label>{{ item.name }}</ion-label>
        </ion-item>
        <ion-item-options>
          <button ion-button color="secondary" (click)="onUserOpen(item)">Mensaje</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-list *ngSwitchCase="'usuario'" no-lines>
      <button ion-button block (click)="salir()">Cerrar sesión</button>
    </ion-list>
  </div>
  Está aplicación te permite saber y conocer las visitas que tienes en la clinica:
  <b>{{ nombre_clinica }} </b>
  <p>
    Puedes consultar tus citas programadas en la seccion de citas
  </p>
  <p>
    Ademas de gestionar los datos correspondientes a tu usuario
  </p>
</ion-content>